# Dependency directories
**/node_modules/
*/node_modules/*
**/.pnpm-store/
**/.yarn/
**/bower_components/
desktop.ini
# Environment files
.env
.env.local
.env*.local

# Build directories
dist/
build/
out/
.next/

# Logs
*.log
logs/

# Editor directories
.idea/
.vscode/
*.swp
*.swo